.navbar-container {
  position: relative;
  overflow: hidden;
}

/* Crack Lines */

.navbar-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(120deg, transparent 48%, white 50%, transparent 52%),
    linear-gradient(60deg, transparent 48%, white 50%, transparent 52%),
    linear-gradient(30deg, transparent 48%, white 50%, transparent 52%);
  opacity: 0;
}

.break-active::before {
  animation: crack 1s ease forwards;
}

/* Crack animation */

@keyframes crack {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* Fall Down Animation */

.break-active {
  animation: fallDown 1s ease forwards;
}

/* Fall Down */

@keyframes fallDown {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  30% {
    transform: translateY(10px) rotate(-2deg);
  }

  60% {
    transform: translateY(40px) rotate(2deg);
  }

  100% {
    transform: translateY(150px) rotate(5deg);
    opacity: 0;
  }
}

/* Rejoin Animation */

.navbar-container:not(.break-active) {
  animation: rejoin 0.6s ease;
}

@keyframes rejoin {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}